/* 
  Name: Ryan Mills
  Date: 08/16/2024
  File: home.css
  FileDesc: stylesheet for home.html
*/

#img1 {grid-area: img1}
#img2 {grid-area: img2}
#img3 {grid-area: img3}
#img4 {grid-area: img4}

main {
  display: grid;
  padding: 1em 5em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template: "img1 img2 img3"
                 ". img4 .";
  justify-content: center;
  align-items: center;
  gap: 1em;
}

main section {
  max-width: 80%;

}

main section img{
  max-width: 40%;
}

main section p {
  color: rgb(60, 0, 128);
}